<!--=====================================================-->
<!--=====================================================-->
<div class="container-fluid">
  <div class="row">
    <nav>
      <a href="#">zoom</a>
      <a href="#">pan</a>
      <a href="#">lenght</a>
      <a href="#">angle</a>
    </nav>
    <div class="col-sm-10 main-content">
      <div class="content-item">
        <!--<div class="img-wrap">-->
        <!--<img class="img-fluid" width="90%" height="auto"-->
        <!--src="https://www.imaios.com/i/var/ezwebin_site/storage/images/media/images/e-anatomy/brain-ct/anatomy-brain-lobes-ct-en/17781488-11-eng-GB/anatomy-brain-lobes-ct-en.png">-->
        <!--</div>-->
        <!--===============================================-->
        <div id="dicomWrapper" class='disable-selection noIbar' unselectable='on' onselectstart='return false;' onmousedown='return false;'>

          <div appWebViewerDirective [image]="imageData" (headersUpdated)="updateHeaders($event)" id="dicomImage" style="object-fit: cover;">

            <div *ngIf='imageData'>
              <!-- top left -->
              <p class="headers" style="top: 0; left: 10px;">Patient Name: {{imageHeaders['patientName']}}</p>
              <p class="headers" style="top: 25px; left: 10px;">Study Date: {{imageHeaders['studyDate']}}</p>
              <p class="headers" style="top: 50px; left: 10px;">Age: {{imageHeaders['patientAge']}}</p>

              <!-- top right -->
              <p class="headers" style="top: 0; right: 10px;">Physician Name: {{imageHeaders['physicianName']}}</p>
              <p class="headers" style="top: 25px; right: 10px;">Institution: {{imageHeaders['institution​Name']}}</p>

              <!-- bottom left -->
              <p class="headers" style="bottom: 20px; left: 10px;">WW/WC: {{imageData.windowWidth}} / {{imageData.windowCenter}}</p>
              <p class="headers" style="bottom: 0; left: 10px;">Body Part: {{imageHeaders['bodyPartExamined']}}</p>

              <!-- bottom right -->
              <p class="headers" style="bottom: 0; right: 10px;">Image {{imageHeaders['currentImage']}} / {{imageHeaders['allImages']}}</p>
            </div>
          </div>

        </div>
        <!--===============================================================-->

      </div>
    </div>
  </div>
</div>