<div class="container">
  <div class="col-sm-6">
    <div class="alert alert-danger" *ngIf="errorMessage">
      <strong>Sorry!</strong> Error while connecting to server!
    </div>
  </div>
  <div class="form-group">
    <a class="btn btn-primary" id="seriDetails" [hidden]="true" routerLink="/studies/{{selectedID}}/series">Details</a>
    <div class="jumbotron">List of study</div>
    <ng2-smart-table class="table table-striped" [settings]="settings" [source]="dataSource" (userRowSelect)="onRowSelect($event)">
    </ng2-smart-table>
  </div>
</div>